.post {
    width: 339px;
    max-height: 234px;
    padding: 15px 25px;
    box-shadow: 0px 0px 45.9px 0px #00000040;
    border-radius: 25px;
    background: rgba(255, 255, 255, 0.01);
    transition: all 0.2s ease-out;
    cursor: pointer;
    
    &:hover {
        background: white;
    }
}

.post--active {
    box-shadow: 0px 0px 45.9px 0px rgba(255, 47, 84, 1);
}

.post__title {
    margin: 0;
    padding: 0;
    font-size: 32px;
    line-height: 38.73px;
    margin-bottom: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.post__desc {
    font-size: 12px;
    line-height: 14.52px;
}